<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GerenciarFuncionarios</servlet-name>
        <servlet-class>controller.GerenciarFuncionarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarMesa</servlet-name>
        <servlet-class>controller.GerenciarMesa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarItem</servlet-name>
        <servlet-class>controller.GerenciarItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarPedidos</servlet-name>
        <servlet-class>controller.GerenciarPedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarPagamento</servlet-name>
        <servlet-class>controller.GerenciarPagamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarCarrinho</servlet-name>
        <servlet-class>controller.GerenciarCarrinho</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarAdm</servlet-name>
        <servlet-class>controller.GerenciarAdm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarFuncionario</servlet-name>
        <servlet-class>controller.GerenciarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarLogin</servlet-name>
        <servlet-class>controller.GerenciarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarFunLogin</servlet-name>
        <servlet-class>controller.GerenciarFunLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GerenciarFuncionarios</servlet-name>
        <url-pattern>/gerenciar_funcionarios.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarMesa</servlet-name>
        <url-pattern>/gerenciar_mesa.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarItem</servlet-name>
        <url-pattern>/gerenciar_item.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarPedidos</servlet-name>
        <url-pattern>/gerenciar_pedidos.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarPagamento</servlet-name>
        <url-pattern>/gerenciar_pagamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarCarrinho</servlet-name>
        <url-pattern>/gerenciar_carrinho.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarAdm</servlet-name>
        <url-pattern>/gerenciar_adm.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarFuncionario</servlet-name>
        <url-pattern>/gerenciar_funcionario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarLogin</servlet-name>
        <url-pattern>/gerenciar_login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarFunLogin</servlet-name>
        <url-pattern>/gerenciar_funLogin.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
